{% extends "layout.html" %}

{% block content %}

<script>

 // revenue chart
  async function load_bar_chart() {
    let stock_code = "{{stock['StockCode']}}"
    //document.write('https://stockanalysisapi-xyy5p4vcpa-ew.a.run.app/fundamental?ticker=' + stock_code);
    const response = await fetch('https://stockanalysisapi-xyy5p4vcpa-ew.a.run.app/fundamental?ticker='+stock_code);
    console.log(response);
    const data = await response.json();
    console.log(data);
    length = data.length;
    console.log(length);

    labels = [];
    values_Total_Revenue = [];
    values_EBITDA = [];
    values_PBIT = [];
    values_PBT = [];
    values_Net_Income = [];
    values_EPS = [];
    values_DPS = [];
    values_Payout_ratio = [];

    for (i = 0; i < length; i++) {
      labels.push(data[i].Financial_Year);
      values_Total_Revenue.push(data[i].Total_Revenue);
      values_EBITDA.push(data[i].EBITDA);
      values_PBIT.push(data[i].PBIT);
      values_PBT.push(data[i].PBT);
      values_Net_Income.push(data[i].Net_Income);
      values_EPS.push(data[i].EPS);
      values_DPS.push(data[i].DPS);
      values_Payout_ratio.push(data[i].Payout_ratio);
    }

    //document.write(labels)
    new Chart(document.getElementById("revenue-chart"), {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: "Revenue in (millions)",
            backgroundColor: ["#c45850",
              "#c45850",
              "#c45850",
              "#c45850",
              "#c45850"],
            data: values_Total_Revenue
          }
        ]
      },
      options: {
        'height': 300,
        legend: { display: false },
        title: {
          display: true,
          text: 'Revenue Trend'
        }
      }
    });



    new Chart(document.getElementById("net_income-chart"), {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: "Net Income in (millions)",
            backgroundColor: ["#3cba9f",
              "#3cba9f",
              "#3cba9f",
              "#3cba9f",
              "#3cba9f"],
            data: values_Net_Income
          }
        ]
      },
      options: {
        'height': 300,
        legend: { display: false },
        title: {
          display: true,
          text: 'Net IncomeTrend'
        }
      }
    });




    new Chart(document.getElementById("eps-chart"), {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: "EPS",
            backgroundColor: ["#8e5ea2",
              "#8e5ea2",
              "#8e5ea2",
              "#8e5ea2",
              "#8e5ea2"],
            data: values_EPS
          }
        ]
      },
      options: {
        'height': 300,
        legend: { display: false },
        title: {
          display: true,
          text: 'EPS Trend'
        }
      }
    });



    new Chart(document.getElementById("ebita-chart"), {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: "EBITA Trend",
            backgroundColor: ["#3e95cd",
              "#3e95cd",
              "#3e95cd",
              "#3e95cd",
              "#3e95cd"],
            data: values_EBITDA
          }
        ]
      },
      options: {
        'height': 300,
        legend: { display: false },
        title: {
          display: true,
          text: 'EBITA Trend'
        }
      }
    });
}

load_bar_chart();
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawChart);
  async function drawChart() {

    let stock_code = "{{stock['StockCode']}}"

    const response = await fetch('https://stockanalysisapi-xyy5p4vcpa-ew.a.run.app/twitter?ticker='+stock_code);
    console.log(response);
    const data_twi = await response.json();
    console.log(data_twi);
    length = data_twi.length;
    console.log(length);


    var data_twitter = google.visualization.arrayToDataTable([
      ['row', 'Value'],
      ['Positive', data_twi[0].pos],
      ['Negative', data_twi[0].neg]
    ]);

    var options = {
      'width': 650,
      'height': 450,
      pieHole: 0.1,
    };

    var chart = new google.visualization.PieChart(document.getElementById('pichart'));
    chart.draw(data_twitter, options);
  }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Year', 'Actual', 'Prediction'],
      ['2004', 1000, 400],
      ['2005', 1170, 460],
      ['2006', 660, 1120],
      ['2007', 1030, 540]
    ]);

    var options = {
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('close_chart'));

    chart.draw(data, options);
  }
</script>
<br/>
<br />
<br />
<form method="GET">
<div class="ui fluid action input" style="margin: top 7em;">
  <input list="brow" name="search">
  <datalist id="brow">
    <option value="">
  {% for stock_name in stock_list %}
    <option value="{{stock_name['StockCode']}}">{{stock_name['StockName']}}</option>
  {% endfor %}
  </datalist>
<button class="ui button" type="submit">Search</button>
</div>
</form>
<h2 class="ui dividing header"></h2>
<div class="ui stackable equal width grid">
  <div class="column">
    <h1>{{stock['StockName']}}</h1>
    <div class="ui labeled button" tabindex="0">
      <div class="ui black button">
        <i class="rupee sign"></i> Price
      </div>
      <a class="ui basic black left pointing label">
        {{technical_data[0]['Close']}}
      </a>
    </div>
    <br />
    <span>Symbol : {{stock['StockCode']}}</span>
    <span>Exchange : {{stock['exchange']}}</span>
    <span>Currency : {{stock['Currency']}}</span>
  </div>
  <div class="column">


  </div>
  </div>
<br/>
<br />
<h2 class="ui dividing header"></h2>
<div class="ui stackable equal width grid">
  <div class="column">
    <h2>Twitter Sentiments</h2>
    <div id="pichart"></div>
  </div>
  <div class="column">
    <h2>Price forcast</h2>
    <div id="close_chart" style="width: 700px; height: 400px"></div>
  </div>
</div>



  <h2>Technical Analysis</h2>
  <h2 class="ui dividing header"></h2>
    <div class="ui center aligned equal width grid">
      <div class="column">
        <h2 style="color: red;">SELL</h2>
      </div>
      <div class="column">
        <h2 style="color: red;">SELL</h2>
      </div>
      <div class="column">
        <h2 style="color: red;">SELL</h2>
      </div>
    </div>
  <div id="chart_div" style="width: 400px; height: 400px;"></div>

<br />
<br />

<div class="ui stackable equal width grid">
  <div class="column">
    <h2>Oscillators</h2>
    <h2 class="ui dividing header"></h2>

    <table class="ui very basic collapsing celled table">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><span>Relative Strength Index (14)</span></td>
          <td>37.75</td>
          <td>Neutral</td>
        </tr>
        <tr>
          <td><span>Stochastic
              %K (14, 3, 3)</span></td>
          <td>51.08</td>
          <td>Neutral</td>
        </tr>
        <tr>
          <td><span>Commodity Channel Index (20)</span></td>
          <td>−105.62</td>
          <td>Neutral</td>
        </tr>
        <tr>
          <td><span>Average Directional Index(14)</span></td>
          <td>24.21</td>
          <td>Neutral</td>
        </tr>
        <tr>
          <td><span>Awesome
              Oscillator</span></td>
          <td>−2.99</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Momentum
              (10)</span></td>
          <td>−8.00</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>MACD Level (12,26)</span></td>
          <td>−2.06</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Stochastic
              RSI Fast(3, 3, 14, 14)</span></td>
          <td>40.41</td>
          <td>Neutral</td>
        </tr>
        <tr>
          <td><span>Williams Percent
              Range (14)</span></td>
          <td>−65.79</td>
          <td>Neutral</td>
        </tr>
        <tr>
          <td><span>Bull Bear
              Power</span></td>
          <td>−5.83</td>
          <td>Neutral</td>
        </tr>
        <tr>
          <td><span>Ultimate
              Oscillator (7, 14, 28)</span></td>
          <td>48.22</td>
          <td>Neutral</td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="column">
    <h2>Moving Averages</h2>
    <h2 class="ui dividing header"></h2>

    <table class="ui very basic collapsing celled table">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><span>Exponential Moving
              Average (10)</span></td>
          <td>164.28</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Simple
              Moving Average (10)</span></td>
          <td>163.56</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Exponential Moving
              Average (20)</span></td>
          <td>166.12</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Simple
              Moving Average (20)</span></td>
          <td>167.47</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Exponential Moving
              Average (30)</span></td>
          <td>167.10</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Simple
              Moving Average (30)</span></td>
          <td>167.69</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Exponential Moving
              Average(50)</span></td>
          <td>167.28</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Simple
              Moving Average (50)</span></td>
          <td>170.27</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Exponential Moving
              Average (100)</span></td>
          <td>163.63</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Simple
              Moving Average (100)</span></td>
          <td>164.21</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Exponential Moving
              Average(200)</span></td>
          <td>154.37</td>
          <td>Buy</td>
        </tr>
        <tr>
          <td><span>Simple
              Moving Average (200)</span></td>
          <td>152.97</td>
          <td>Buy</td>
        </tr>
        <tr>
          <td><span>Ichimoku
              Base Line (9, 26, 52, 26)</span></td>
          <td>164.33</td>
          <td>Neutral</td>
        </tr>
        <tr>
          <td><span>Volume Weighted Moving
              Average (20)</span></td>
          <td>166.97</td>
          <td>Sell</td>
        </tr>
        <tr>
          <td><span>Hull Moving
              Average(9)</span></td>
          <td>163.58</td>
          <td>Sell</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['gauge'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['Oscillators', 30],
      ['Summary', 30],
      ['Moving Avg', 10]
    ]);

    var options = {
      width:1130,
      height: 400,
      greenFrom: 50,
      greenTo: 100,
      redFrom: 0,
      redTo: 50,
      minorTicks: 10,
      majorTicks: ['0%', '100%']
    };

    var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

    chart.draw(data, options);

    setInterval(function () {
      chart.draw(data, options);
    }, 3.5);
  }

</script>

<br />
<br />

<h2>Fundamental Analysis</h2>
<h2 class="ui dividing header"></h2>
<div class="ui stackable equal width grid">
  <div class="column">
  <canvas id="revenue-chart" height="400" style="height: 400px; display: block; width: 400px;" width="500">
  </canvas>
  </div>
  <div class="column">
<canvas id="net_income-chart" height="400" style="height: 400px; display: block; width: 400px;" width="500">
</canvas>
</canvas>
  </div>
</div>

<div class="ui stackable equal width grid">
  <div class="column">
    <canvas id="eps-chart" height="400" style="height: 400px; display: block; width: 400px;" width="500">
    </canvas>
  </div>
  <div class="column">
    <canvas id="ebita-chart" height="400" style="height: 400px; display: block; width: 400px;" width="500">
    </canvas>
  </div>
</div>

<br />
<br />

<div class="ui stackable equal width grid">
  <div class="column">
    <h2>Analyst Recommendations </h2>
    <h2 class="ui dividing header"></h2>
    <table class="ui red table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Action</th>
          <th>Target</th>
          <th>Analyst</th>
        </tr>
      </thead>
      <tbody>
        {% for recommendation in recommendation_list %}
        <tr>
          <td>{{recommendation['date']}}</td>
          <td>{{recommendation['advice']}} </td>
          <td>{{recommendation['target']}}</td>
          <td>{{recommendation['analyst']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
  <div class="column">
    <h2>Analyst Recommendations </h2>
    <h2 class="ui dividing header"></h2>
    <table class="ui red table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Action</th>
          <th>Target</th>
          <th>Analyst</th>
        </tr>
      </thead>
      <tbody>
        {% for recommendation in recommendation_list %}
        <tr>
          <td>{{recommendation['date']}}</td>
          <td>{{recommendation['advice']}} </td>
          <td>{{recommendation['target']}}</td>
          <td>{{recommendation['analyst']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<br />
<br />

<h2>News </h2>
<h2 class="ui dividing header"></h2>
{% for news in news_list %}
<div class="ui relaxed divided items">
  <div class="item">
    <div class="ui small image">
      <img src=".\image.png">
    </div>
    <div class="content">
      <a class="header">{{news['title']}}</a>
      <div class="meta">
        <a>{{news['date']}}</a>
        <a href="https://www.moneycontrol.com{{news['url']}}" target="_blank">{{news['source']}}</a>
      </div>
    </div>
  </div>

  <br />
  <br />
  {% endfor %}

{% endblock %}
